body{
    background-color: rgb(241, 212, 178);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}
h2{
    text-align: center;
}
h3{
    color: red;
    text-decoration: underline;
    background-color: white;
    display: inline-block;
}
#container{
    display: flex;
}
.container2{
    width: 200px;
    box-shadow: 0px 5px 5px rgb(100, 45, 45);
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}
#tm3 {
    background-color: rgb(252, 128, 128);
    height: 70px;
    transition: transform 0.3s ease, height 0.3s ease;
}

#tm3c {
    background-color: rgb(241, 188, 188);
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

#tm3:hover {
    transform: scale(1.05);
    height: 154.5px;
}

#tm3:hover #tm3c {
    opacity: 1;
    visibility: visible;
}

#tm3c:hover {
    background-color: rgb(241, 188, 188);
    padding-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
#tm4 {
    background-color: rgb(127, 94, 219);
    height: 70px;
    transition: transform 0.3s ease, height 0.3s ease;
}

#tm4c {
    background-color: rgb(188, 161, 223);
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#tm4:hover {
    transform: scale(1.05);
    height: 316px; /*Cambiar esto en el tema cuatro para agrandar la caja de enlaces*/
}

#tm4:hover #tm4c {
    opacity: 1;
    visibility: visible;
}

#tm4c:hover {
    background-color: rgb(188, 161, 223);
    padding-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

/* Estilos actualizados para el Tema 5 */
#tm5 {
    background-color: rgb(224, 177, 69);
    height: 70px;
    transition: transform 0.3s ease, height 0.3s ease;
}

#tm5c {
    background-color: rgb(215, 193, 140);
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#tm5:hover {
    transform: scale(1.05);
    height: 261px; /* Ajustar a la altura requerida */
}

#tm5:hover #tm5c {
    opacity: 1;
    visibility: visible;
}

#tm5c:hover {
    background-color: rgb(215, 193, 140);
    padding-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

/* Estilos actualizados para el Tema 6 */
#tm6 {
    background-color: rgb(69, 123, 224);
    height: 70px;
    transition: transform 0.3s ease, height 0.3s ease;
}

#tm6c {
    background-color: rgb(121, 158, 226);
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#tm6:hover {
    transform: scale(1.05);
    height: 118px; /* Ajustar a la altura requerida */
}

#tm6:hover #tm6c {
    opacity: 1;
    visibility: visible;
}

#tm6c:hover {
    background-color: rgb(121, 158, 226);
    padding-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

/* EJERCICIOS DE CASA ESTILO */
 
#pcs{
    background-color: rgb(131, 131, 131);
    height: 120px;
    transition: transform 0.3s ease, height 0.3s ease;
}
#pcs:hover{
    transform: scale(1.05);
    height: 179px;
}
#pcs:hover #pcsc{
    background-color: rgb(183, 183, 183);
    padding-bottom: 15px;
    opacity: 1;
    visibility: visible;
}
#pcsc{
    background-color: rgb(183, 183, 183);
    padding-bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#pcsc:hover{
    background-color: rgb(183, 183, 183);
    padding-bottom: 15px;
    opacity: 1;
    visibility: visible;
} 
ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
footer{
    margin-top:30px;
    width:100%;
    height:100%;
    background-color: black;
}
p{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
hr{
    background-color: black;
}
.barra_horizontal {
    border: none;
    height: 2px; 
    background-color: black; 
    margin: 20px 0;
}
.texto_centro{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
    transition: scale(1.05);
}
a:hover{
    text-decoration: underline;
}
