#p1 {
    text-align: right;
    font-style: italic;
}
#p2 {
    text-transform: uppercase;
    text-decoration: line-through;
}
#p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#p4 {
    font-weight: bold;
    text-shadow: -4px 5px 5px rgb(4, 170, 54);
}
#container{
    display: flex;
}
#container1{
    background-color: rgb(154, 224, 154);
    width: 400px;
    height: 210px;
    border-radius: 7px;
    
}
#container2{
    background-color: rgb(136, 226, 214);
    width: 400px;
    height: 210px;
    border-radius: 7px;
}
#container3{
    background-color: rgb(189, 142, 228);
    width: 400px;
    height: 210px;
    border-radius: 7px;
}
a{
    color: white;
}
#a1{
    display: flex;
}
#container2 a{
    display: block;
}
.blue{
    background-color: blue;
    width: 100px;
    height: 50px;
}
.red{
    background-color: red;
    width: 100px;
    height: 50px;
}
.green{
    background-color: green;
    width: 100px;
    height: 50px;
}
#tomenu{
    background-color: white;
    list-style: none;
    color: brown;
    font-style: normal;
}